body{
  background-color: #F3F3F3;
}

.bar-chart-container > h1{
  margin-bottom: 1em;
}

.bar-chart-container{
  width: 100vw;
  height: 100%;
  margin-left: 3em;
}
.bar-chart{
  background-color: white;
  width: 70vw;
  border-radius: 8px;
  padding: 2em;
}

@media (max-width: 480px){

  .bar-chart-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 1rem;
  }
  .bar-chart-container > h1{
    font-size: 1rem;
    margin-bottom: 1.5em;
  }
  .bar-chart{
    margin-left: 1em;
  }
}

@media (min-width: 481px)and (max-width: 768px){
  .bar-chart-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 1rem;
  }

  .bar-chart-container > h1{
    font-size: 1.5rem;
  }
  .bar-chart{
    margin-left: 1em;
  }
}
